# Assignment 1
> Name: Cheng, Xue
>
> ID: 8887161



# Task 1

## 1. Import Libarey And Read File

In [82]:
# install pandas module
import pandas as pd

dataset_file = 'Assignment1Data_Sample.csv'
# test read csv file
data = pd.read_csv(dataset_file)

In [83]:
# show the information
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 41 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Object Number            204 non-null    object
 1   Object ID                204 non-null    int64
 2   Department               203 non-null    object
 3   Object Name              203 non-null    object
 4   Title                    194 non-null    object
 5   Culture                  84 non-null     object
 6   Period                   31 non-null     object
 7   Dynasty                  9 non-null      object
 8   Reign                    5 non-null      object
 9   Portfolio                8 non-null      object
 10  Artist Role              127 non-null    object
 11  Artist Prefix            39 non-null     object
 12  Artist Display Name      127 non-null    object
 13  Artist Display Bio       108 non-null    object
 14  Artist Suffix            5 non-null      object
 15  Artist Nationality       87 non-null     object
 16  Artist Begin Date        98 non-null     object
 17  Artist End Date          97 non-null     object
 18  Object Date              199 non-null    object
 19  Object Begin Date        204 non-null    int64
 20  Object End Date          202 non-null    float64
 21  Medium                   202 non-null    object
 22  Dimensions               166 non-null    object
 23  Credit Line              204 non-null    object
 24  Geography Type           23 non-null     object
 25  City                     14 non-null     object
 26  State                    1 non-null      object
 27  County                   3 non-null      object
 28  Country                  32 non-null     object
 29  Region                   18 non-null     object
 30  Subregion                12 non-null     object
 31  Locale                   7 non-null      object
 32  Locus                    4 non-null      object
 33  Excavation               7 non-null      object
 34  River                    2 non-null      object
 35  Classification           173 non-null    object
 36  Rights and Reproduction  7 non-null      object
 37  Link Resource            204 non-null    object
 38  Metadata Date            204 non-null    object
 39  Repository               204 non-null    object
 40  Tags                     111 non-null    object
dtypes: float64(1), int64(2), object(38)
memory usage: 65.5+ KB

## 2 Data Cleanning
### 2.1 Remove Useless Columns

In [102]:
relevant_columns = ['Object ID', 'Department', 'Object Name', 'Title', 'Culture', 
                    'Artist Nationality', 'Object Begin Date', 'Object End Date', 
                    'Medium', 'Credit Line', 'Country']
df_cleaned = data[relevant_columns]

In [118]:
df_cleaned.isnull().sum()  
df_cleaned = df_cleaned.dropna(subset=['Object ID', 'Department', 'Object Name', 'Title', 'Culture',
                                       'Artist Nationality', 'Object Begin Date', 'Object End Date', 
                                       'Medium', 'Credit Line', 'Country'])

### 2.2 Fill the Null

In [119]:
data.isna().any().any() and data.isnull().any()

Object Number              False
Object ID                  False
Department                 False
Object Name                False
Title                      False
Culture                    False
Period                      True
Dynasty                     True
Reign                       True
Portfolio                   True
Artist Role                 True
Artist Prefix               True
Artist Display Name         True
Artist Display Bio          True
Artist Suffix               True
Artist Nationality         False
Artist Begin Date           True
Artist End Date             True
Object Date                 True
Object Begin Date          False
Object End Date            False
Medium                     False
Dimensions                  True
Credit Line                False
Geography Type              True
City                        True
State                       True
County                      True
Country                    False
Region                      True
Subregion                   True
Locale                      True
Locus                       True
Excavation                  True
River                       True
Classification              True
Rights and Reproduction     True
Link Resource              False
Metadata Date              False
Repository                 False
Tags                        True
dtype: bool

In [120]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 179 entries, 0 to 203
Data columns (total 41 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Object Number            179 non-null    object
 1   Object ID                179 non-null    int64
 2   Department               179 non-null    object
 3   Object Name              179 non-null    object
 4   Title                    179 non-null    object
 5   Culture                  179 non-null    object
 6   Period                   12 non-null     object
 7   Dynasty                  5 non-null      object
 8   Reign                    2 non-null      object
 9   Portfolio                8 non-null      object
 10  Artist Role              124 non-null    object
 11  Artist Prefix            38 non-null     object
 12  Artist Display Name      124 non-null    object
 13  Artist Display Bio       105 non-null    object
 14  Artist Suffix            5 non-null      object
 15  Artist Nationality       179 non-null    object
 16  Artist Begin Date        95 non-null     object
 17  Artist End Date          94 non-null     object
 18  Object Date              175 non-null    object
 19  Object Begin Date        179 non-null    object
 20  Object End Date          179 non-null    object
 21  Medium                   179 non-null    object
 22  Dimensions               151 non-null    object
 23  Credit Line              179 non-null    object
 24  Geography Type           17 non-null     object
 25  City                     14 non-null     object
 26  State                    0 non-null      object
 27  County                   3 non-null      object
 28  Country                  179 non-null    object
 29  Region                   10 non-null     object
 30  Subregion                6 non-null      object
 31  Locale                   3 non-null      object
 32  Locus                    1 non-null      object
 33  Excavation               3 non-null      object
 34  River                    1 non-null      object
 35  Classification           155 non-null    object
 36  Rights and Reproduction  7 non-null      object
 37  Link Resource            179 non-null    object
 38  Metadata Date            179 non-null    object
 39  Repository               179 non-null    object
 40  Tags                     101 non-null    object
dtypes: int64(1), object(40)
memory usage: 58.7+ KB

In [121]:
data[data.isnull().T.any()]

,Object Number,Object ID,Department,Object Name,Title,Culture,Period,Dynasty,Reign,Portfolio,...,Locale,Locus,Excavation,River,Classification,Rights and Reproduction,Link Resource,Metadata Date,Repository,Tags
0,62.16,1674,American Decorative Arts,Side Chair,Side Chair,American,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Furniture,NaN,http://www.metmuseum.org/art/collection/search...,5/13/2019 8:00,"Metropolitan Museum of Art, New York, NY",Chairs
1,13.7.17,2430,American Decorative Arts,Pitcher,Covered Pitcher,American,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Ceramics,NaN,http://www.metmuseum.org/art/collection/search...,5/13/2019 8:00,"Metropolitan Museum of Art, New York, NY",Pitchers
2,33.85.11,6406,American Decorative Arts,Plate,Plate,Dutch,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Ceramics,NaN,http://www.metmuseum.org/art/collection/search...,5/13/2019 8:00,"Metropolitan Museum of Art, New York, NY",NaN
3,69.194.109,7616,American Decorative Arts,Soup bowl,Soup Bowl,American,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Ceramics,NaN,http://www.metmuseum.org/art/collection/search...,5/13/2019 8:00,"Metropolitan Museum of Art, New York, NY",Bowls
4,2006.235.20,15012,American Decorative Arts,"Painting, miniature",Portrait of a Lady,American,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Paintings,NaN,http://www.metmuseum.org/art/collection/search...,5/13/2019 8:00,"Metropolitan Museum of Art, New York, NY",Pendants|Portraits|Women
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,63.350.329.701-1.16,779306,Drawings and Prints,Trade card,"Packard-Tourist, from the ""Antique Autos"" seri...",Unknown Culture,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Prints|Ephemera,NaN,http://www.metmuseum.org/art/collection/search...,5/13/2019 8:00,"Metropolitan Museum of Art, New York, NY",NaN
200,63.350.244.87.182,785013,Drawings and Prints,Print; ephemera,Norwegian Air Force In Canada Patrol Bomber (N...,Unknown Culture,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Prints|Ephemera,NaN,http://www.metmuseum.org/art/collection/search...,5/13/2019 8:00,"Metropolitan Museum of Art, New York, NY",NaN
201,1980.1119(1),813925,Drawings and Prints,Print,Stonehenge,Unknown Culture,NaN,NaN,NaN,Ruins and Landscapes,...,NaN,NaN,NaN,NaN,Prints,© Philip Pearlstein,http://www.metmuseum.org/art/collection/search...,5/13/2019 8:00,"Metropolitan Museum of Art, New York, NY",NaN
202,1986.1180.249,820618,Drawings and Prints,Print,"Psyche, holding the flask of beauty being tran...",Unknown Culture,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Prints,NaN,http://www.metmuseum.org/art/collection/search...,5/13/2019 8:00,"Metropolitan Museum of Art, New York, NY",Adam|Eve
203,67.744.50,824428,Drawings and Prints,Print,Landscape and Cattle,Unknown Culture,NaN,NaN,NaN,New York and Long Island Landscapes,...,NaN,NaN,NaN,NaN,Prints,NaN,http://www.metmuseum.org/art/collection/search...,5/13/2019 8:00,"Metropolitan Museum of Art, New York, NY",NaN

In [122]:
data['Department'] = data['Department'].fillna('Unknown Department')
data['Object Name'] = data['Object Name'].fillna('Untitled Object')
data['Title'] = data['Title'].fillna('Untitled')
data['Culture'] = data['Culture'].fillna('Unknown Culture')
data['Artist Nationality'] = data['Artist Nationality'].fillna('Unknown Nationality')
data['Object End Date'] = data['Object End Date'].fillna(data['Object Begin Date'])
data['Medium'] = data['Medium'].fillna('Unknown Medium')
data['Country'] = data['Country'].fillna('Unknown Country')

### 2.3 Drop Duplicates

In [124]:
relevant_columns = ['Object ID', 'Department', 'Object Name', 'Title', 'Culture', 
                    'Artist Nationality', 'Object Begin Date', 'Object End Date', 
                    'Medium', 'Credit Line', 'Country']
df_cleaned = data[relevant_columns]

In [133]:
data = data.drop_duplicates()

### 2.4 Convert the Object End Date column from float to int.

In [135]:
df_cleaned['Department'] = df_cleaned['Department'].str.lower()

/tmp/ipykernel_1173538/673058174.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Department'] = df_cleaned['Department'].str.lower()

### 2.5 Make Column 'Cluture' consistent

df_cleaned = df_cleaned[df_cleaned['Object Begin Date'] <= df_cleaned['Object End Date']]

### 2.6 Make Column 'Artist Nationality' consistent

In [141]:
def adjust_na(value):

    value = value.title().strip()
    
    nationalities = set(value.split('|'))
    
    nationalities = {nat.replace('?', '').strip() for nat in nationalities}
    
    cleaned_value = ', '.join(sorted(nationalities))
    
    cleaned_value = cleaned_value.replace('Born ', '')
    
    return cleaned_value

data['Artist Nationality'] = data['Artist Nationality'].apply(adjust_na)

data['Artist Nationality'].unique()

array(['Unknown Nationality', 'Chinese', 'Japanese', 'British',
       'American', 'Italian', 'French, Italy', 'French', 'Belgian',
       'Dutch', 'German, Netherlandish', 'British, French',
       'French, Italian', 'German', 'American, Russia', 'Finnish',
       'British, Scottish', 'Mexican', 'German, Italian', 'Canadian',
       'British, British, Scottish, Scottish', 'Austrian',
       'British, Italian', 'American, German'], dtype=object)

### 2.7 Make Column 'Object End Date' & 'Object Begin Date' consistent

In [145]:

invalid_rows = data[data['Object End Date'] < data['Object Begin Date']]

In [146]:
data = data.drop(invalid_rows.index)

### 2.8 Make Column 'Medium' consistent

In [100]:
# formatting the unavailable or unknown value of 'Medium' to 'Unknown'
data['Medium'].replace({
    '[no medium available]': 'Unknown', 
    'Unknown Medium': 'Unknown'        
}, inplace=True)

### 2.9 Make Column 'Coutry' consistent

In [151]:

country_replacements = {
    'USA': 'United States',                  
    'present-day Uzbekistan': 'Uzbekistan',     
    'present-day France': 'France',             
    'Unknown Country': 'Unknown',              
}


def clean_country(country):
    return country_replacements.get(country, country)

data['Country'] = data['Country'].apply(clean_country)

# Task 2

#### 1.	What are the 3 Vs of Data and explain each one in detail?
**Volume:** Refers to the massive amount of data generated every second from various sources like social media, sensors, transactions. It can range from terabytes to petabytes in scale, especially with big data.

**Velocity:** Refers to the speed at which data is generated, collected, and analyzed. Real-time or near real-time data processing is often required for timely decision-making.

**Variety:** Describes the different types and formats of data - structured (databases), semi-structured (XML, JSON), and unstructured (text, images, videos).

#### 2. List capabilities of Business Intelligence systems.
**Data Integration:** BI tools can integrate data from various sources.
**Reporting and Analysis:** Allows for the creation of reports and dashboards for decision-making.
**Data Mining:** Extracts patterns from large datasets.
**Predictive Analytics:** Uses statistical models to predict future trends.
**Performance Management:** Tracks and monitors organizational performance via KPIs.

#### 3. Different types of data with example for each type.
**Structured:** Organized data like databases (e.g., SQL tables).
**Semi-structured:** Partially organized data (e.g., JSON, XML).
**Unstructured:** No fixed format (e.g., emails, social media posts).

#### 4.	Define data visualization.
The graphical representation of data (e.g., charts, graphs) to make insights clearer and easier to understand.

#### 5.	What is a KPI and provide an example (apart from one that has been already provided within the lecture)
**Key Performance Indicator: **A measurable value that indicates how effectively a company is achieving its business objectives.
Example: Customer Satisfaction Score (CSAT) for tracking customer feedback.

#### 6.	What is a BI system? 
A system that helps organizations collect, integrate, analyze, and present business information to improve decision-making.

#### 7.	What are the 5 C's of Data for data preparation and the purpose of each?
**Clean:** Ensure data is free from errors.
**Conform:** Ensure consistency in data formatting.
**Catalog:** Organize and document data for easy retrieval.
**Control:** Monitor and maintain data quality.
**Combine:** Integrate data from various sources into a unified form.

#### 8.	What are some Key Success Factors of a Successful BI Program and explain each factor?
**Leadership Support: Strong backing from senior management.
**Clear Objectives:** Defined goals and expectations.
**Data Quality:** High-quality, accurate data.
**User Adoption:** Ensuring that end-users are comfortable with the BI tools.
**Scalability:** Ability to scale the BI system as data grows.
**Continuous Improvement:** Constantly refining the BI system based on feedback.
**Security:** Ensuring that data is secure and access is well-controlled.